@charset "utf-8";

*{
    margin: 0;
    padding: 0;
} 
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #121212;
}
ul, li{
    list-style: none;
}
img{
    vertical-align: top;
}
a{
    text-decoration: none;
}
.hide{
    width:0;
    height: 0;
    overflow: hidden;
}
.header{
    width:100%;
    height: 70px;
    position: fixed;
    z-index: 300;
    background-color: #fff;

}
.headerin{
    width:1200px;
    margin-right: auto;
    margin-left: auto;
    padding-top:10px;
    margin-bottom: 20px;
    position: relative;
}
.headerin h1 img{
    display: block;
    width:56px;
    height: 46px;
}
.headerin .gnb ul{
    display: flex;
    position: absolute;
    top:20px;
    right: 50%;
    margin-right: -550px;
}
.headerin .gnb li{
    margin-right: 160px;
}
.headerin .gnb li a{
    color: black;
    font-size: 16px;
}
.headerin .utill a{
    position: absolute;
    top:20px;
    right: -200px;
    font-size: 15px;
    color:black;
}
.headerin .utill{
}
.headerin .utill a:after{
    content:"";
    display: inline-block;
    width:8px;
    height: 8px;
    border:2px solid black;
    vertical-align: top;
    transform: rotate(315deg);
    border-top:none;
    border-right: none;
    margin-left: 10px;
    margin-top: 3px;
}/*해더*/
.container1{
}
.slide-img{
    position: relative;
    max-width:1920px;
    min-width:1400px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 107px;
}
.img-text{
    display: flex;
    position: absolute;
    top:450px;
    left: 50%;
    margin-left: -310px;
    animation: fadeInUp 1s both 1s;
    visibility: visible;
}
.text1{
    height: 171px;
    width:100%;

    
}
.text1 .t1{
    color:#fff;
    font-size: 40px;
    padding-top:30px;
    margin-bottom: 20px;
    line-height: 40px;
}
.text1 .t2{
    font-size: 16px;
}
.slide1-img{
    position: relative;
    max-width:1920px;
    min-width:1400px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    background-image: url(../img/1920x1200%20sub2-bn0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img1-text{
    position: absolute;
    top:150px;
    left: 50%;
    margin-left: -750px;
    
}
.img1-text h2{
    font-size: 50px;
    color:#174786;
}
.img1-text::after{
    content:"";
    display: block;
    width:2px;
    height: 150px;
    background-color: #535353;
    vertical-align: top;
    margin-top:50px;
    margin-left: 10px;
}
.img1-text2{
    position: absolute;
    top:400px;
    left: 50%;
    margin-left: -750px;
    font-size: 50px;
    color:#fff;
    line-height:70px;
    opacity: 0;
    transform: translateX(-200px);
    transition: all 1.2s;
    transition-delay: 0.8s;
}
.active .img1-text2{
    opacity: 1;
    transform: translateY(0);
}
.img1-text3{
    position: absolute;
    top:600px;
    left: 50%;
    margin-left: -750px;
    font-size: 36px;
    color:#fff;
    line-height: 48px;
    opacity: 0;
    transform: translateX(200px);
    transition: all 1.2s;
    transition-delay: 1.3s;
}
.active .img1-text3{
    opacity: 1;
    transform: translateX(0);
}
.img1-text3 span{
    color:#ffc05a;
    font-size: 40px;
}
.img1-text4{
    position: absolute;
    top:750px;
    left: 50%;
    margin-left: -750px;
    font-size: 18px;
    line-height: 30px;
    color:#fff;
    opacity: 0;
    transform: translateY(-200px);
    transition: all 1s;
    transition-delay: 1.6s;
}
.active .img1-text4{
    opacity: 1;
    transform: translateY(0);
}
.slide2-img{
    position: relative;
    max-width:1920px;
    min-width:1400px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    background-image: url(../img/1920x1446-sub2-bn1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.img2-text{
    position: absolute;
    top:400px;
    left: 50%;
    margin-left: -760px;
    font-size: 50px;
    line-height: 55px;
    color:#fff;
    transform: translateX(200px);
    opacity: 0;
    transition: all 1s;
    transition-delay: 1s;

}
.active .img2-text {
    opacity: 1;
    transform: translateX(0);
}
.img2-text1{
    position: absolute;
    top:600px;
    left: 50%;
    margin-left: -760px;
    font-size:18px;
    color:#fff;
    line-height: 30px;
    opacity: 0;
    transform: translateX(300px);
    transition: all 1s;
    transition-delay: 1.5s;
}
.active .img2-text1{
    opacity: 1;
    transform: translateX(0);
}
.slide3-img{
    position: relative;
    max-width:1920px;
    min-width:1400px;
    margin-right: auto;
    margin-left: auto;
    height: 1080px;
    background-image: url(../img/1920x1080%20sub2-bn2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.img3-text{
    position: absolute;
    top:300px;
    right: 50%;
    margin-right: -760px;
    font-size:50px;
    line-height: 55px;
    color:#fff;
    opacity: 0;
    transform: translateY(-200px);
    transition: all 1.5s;
    transition-delay: 1s;
}
.active .img3-text{
    opacity: 1;
    transform: translateY(0);
}
.img3-text1{
    position: absolute;
    top:500px;
    right: 50%;
    margin-right: -700px;
    font-size: 18px;
    color:#fff;
    line-height: 30px;
    opacity: 0;
    transform: translateY(200px);
    transition: all 1.5s;
    transition-delay: 1s;
}
.active .img3-text1{
    opacity: 1;
    transform: translateY(0);
}

.slide4-img{
    position: relative;
    max-width:1920px;
    min-width:1400px;
    margin-right: auto;
    margin-left: auto;
    height: 1080px;
    background-image: url(../img/1920x1080%20sub2%20ban3.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.img4-text{
    position: absolute;
    top:300px;
    left: 50%;
    margin-left: -760px;
    line-height: 52px;
    font-size: 50px;
    color:#fff;
    transform: translateY(-200px);
    opacity: 0;
    transition: all 1.5s;
    transition-delay: 1s;
}
.active .img4-text{
    opacity: 1;
    transform:translateY(0);
}
.img4-text1{
    position: absolute;
    top:500px;
    left: 50%;
    margin-left: -760px;
    font-size: 18px;
    color:#fff;
    line-height: 30px;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1.5s;
    transition-delay: 1s;
}
.active .img4-text1{
    opacity: 1;
    transform:translateY(0);
}
.sw-text{
    position: absolute;
    top:0;
    left: 0;
}
.footer{/*푸터*/
    margin-top:30px;
    border-top: 1px solid #ccc;
    height: 123px;
    margin-top:150px;
}
.footerin{
    width:1200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.footer1{
    position: absolute;
    top:55px;
    right: 500px;
    color:#ccc;
}
.footer2 {
    display: flex;
    position: absolute;
    top:55px;
    right: 150px;
    
}
.footer2 a{
    margin-left: 10px;
    color:#ccc;
}
.footer2 a p{
}
.footer2 a p:after{
    content:"";
    display: inline-block;
    width:1px;
    height: 10px;
    background-color: #ccc;
    vertical-align: top;
    margin-top:5px;
    margin-left: 10px;
}
.footer2 a:last-child:after a{
    display: none;
}
.footerimg{
    display: flex;
    position: absolute;
    top:55px;
    right: -20px;
}
.footerimg .you{
    display: block;
    width:30px;
    height: 30px;
    background-image: url(../img/%ED%8E%98%EC%9D%B4%EC%8A%A4%EB%B6%81.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-right: 10px;
}
.footerimg .fa{
    display: block;
    width:30px;
    height: 30px;
    background-image: url(../img/%EC%9D%B8%EC%8A%A4%ED%83%80%EA%B7%B8%EB%9E%A8.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}


